{% extends "podcast/base.html" %}


{% block header %}
Django Podcast Episode Detail
{% endblock %}


{% block content %}

<p class="back"><a href="{% url podcast_episodes object.show.slug %}">Return to episodes</a></p>

<h2>{{ object.title }}</h2>

{% if object.subtitle %}<h3>{{ object.subtitle }}</h3>{% endif %}

{% if object.image %}<div class="image"><img src="{{ object.image.url }}" width="{{ object.image.width }}" height="{{ object.image.height }}" alt="{{ object.title }} episode screenshot" /></div>{% endif %}

<dl>
  <dt>Date</dt>
    <dd>{{ object.date|date:"F g, Y, g:m a" }}</dd>
  <dt>Show</dt>
    <dd><a href="{% url podcast_episodes object.show.slug %}">{{ object.show.title }}</a></dd>
  <dt>Author</dt>{% for author in object.author.all %}
    <dd>{% if author.email %}<a href="mailto:{{ author.email }}">{% endif %}{% if author.first_name or author.last_name %}{% if author.first_name and author.last_name %}{{ author.first_name }} {{ author.last_name }}{% endif %}{% if author.first_name and not author.last_name %}{{ author.first_name }}{% endif %}{% if author.last_name and not author.first_name %}{{ author.last_name }}{% endif %}{% else %}{{ author.username }}{% endif %}{% if author.email %}</a>{% endif %}</dd>{% endfor %}
  <dt>RSS</dt>
    <dd><a href="{% url podcast_feed object.show.slug %}">Subscribe</a></dd>
  {% if object.show.feedburner %}<dt>FeedBurner</dt>
    <dd><a href="{{ object.show.feedburner }}">Subscribe</a></dd>{% endif %}
  {% if object.show.itunes %}<dt>iTunes</dt>
    <dd><a href="{{ object.show.itunes }}">Subscribe</a></dd>{% endif %}
</dl>

<p>{% if object.summary %}{{ object.summary }}{% else %}{{ object.description|striptags }}{% endif %}</p>

<h3>Download this episode</h3>

<ul>
  {% for enclosure in enclosure_list %}
  <li><a href="{{ enclosure.file.url }}"><strong>{% if enclosure.title %}{{ enclosure.title }}{% else %}{{ object.title }}{% endif %}</strong></a> ({{ enclosure.file.size|filesizeformat }})</li>
  {% endfor %}
</ul>

{% if object.captions %}<p><a href="{{ object.captions.url }}">Download the closed captions</a>.</p>{% endif %}

{% endblock %}


{% block footer %}
&#169; {% now "Y" %} {{ object.show.organization }}. <a href="{% url podcast_feed object.show.slug %}">Subscribe</a>.
{% endblock %}
