<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% regroup object_list by show as show_list %}{% for show in show_list %}{{ show.grouper.title }}{% endfor %}{% endblock %}</title>
<link rel="alternate" type="application/rss+xml" title="{% regroup object_list by show as show_list %}{% for show in show_list %}{{ show.grouper.title }}{% endfor %} podcast feed" href="#" />
<link href="http://media.richardcornish.com/junk/podcast/base.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="header-wrap">
<div id="header">
{% block header %}
<h1>Django podcast</h1>
{% endblock %}
</div>
</div>

<div id="return-wrap">
<div id="return">
<p>A list of episodes of one show</p>
</div>
</div>

<div id="content-wrap">
<div id="content">

{% block content %}

<p class="back"><a href="../">Return to shows</a></p>

{% regroup object_list by show as show_list %}

{% for show in show_list %}
<h2>{{ show.grouper.title }}</h2>
<h3>{{ show.grouper.subtitle }}</h3>

{% if show.grouper.explicity %}<p>Explicit</p>{% endif %}

<dl>
  <dt>Category</dt>
    <dd>{% for category in show.grouper.category.all|slice:":1" %}{{ category.name }}{% endfor %}</dd>
  <dt>Author</dt>
    <dd>{% if show.grouper.author.email %}<a href="mailto:{{ show.grouper.author.email }}">{% endif %}{% if show.grouper.author.first_name or show.grouper.author.last_name %}{% if show.grouper.author.first_name and show.grouper.author.last_name %}{{ show.grouper.author.first_name }} {{ show.grouper.author.last_name }}{% endif %}{% if show.grouper.author.first_name and not show.grouper.author.last_name %}{{ show.grouper.author.first_name }}{% endif %}{% if show.grouper.author.last_name and not show.grouper.author.first_name %}{{ show.grouper.author.last_name }}{% endif %}{% else %}{{ show.grouper.author.username }}{% endif %}{% if show.grouper.author.email %}</a>{% endif %}</dd>
  <dt>RSS</dt>
    <dd><a href="#">Subscribe</a></dd>
  {% if show.grouper.feedburner %}<dt>FeedBurner</dt>
    <dd><a href="{{ show.grouper.feedburner }}">Subscribe</a></dd>{% endif %}
  {% if show.grouper.itunes %}<dt>iTunes</dt>
    <dd><a href="{{ show.grouper.itunes }}">Subscribe</a></dd>{% endif %}
</dl>

<div class="image"><img src="{{ show.grouper.image.url }}" width="{{ show.grouper.image.width }}" height="{{ show.grouper.image.height }}" alt="{{ show.grouper.organization }} show logo" /></div>

<p>{% if show.grouper.summary %}{{ show.grouper.summary|striptags }}{% else %}{{ show.grouper.description|striptags }}{% endif %}</p>

{% for episode in show.list %}

<h4><a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a></h4>
<h5>{{ episode.subtitle }}</h5>

{% if episode.image %}<div class="image"><a href="{{ episode.get_absolute_url }}"><img src="{{ episode.image.url }}" width="{{ episode.image.width }}" height="{{ episode.image.height }}" alt="{{ episode.title }} episode screenshot" /></a></div>{% endif %}

<p>{% if episode.summary %}{{ episode.summary|striptags }}{% else %}{{ episode.description|striptags }}{% endif %}</p>
{% endfor %}

{% endfor %}

{% endblock %}
</div>
</div>

<div id="footer-wrap">
<div id="footer">
{% block footer %}
<p>&#169; {% now "Y" %} {% regroup object_list by show as show_list %}{% for show in show_list %}{{ show.grouper.organization }}.{% endfor %} <a href="#">Subscribe</a>.</p>
{% endblock %}
</div>
</div>

</body>
</html>