<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:video="http://www.google.com/schemas/sitemap-video/1.0">
{% regroup object_list by show as show_list %}{% for show in show_list %}{% for episode in show.list %}
    <url>
        <loc>{{ episode.show.link }}</loc>
        <video:video>
            {% if enclosure_list.all.0.file %}{% for enclosure in enclosure_list %}<video:content_loc>{{ enclosure_list.file.url }}</video:content_loc>{% endfor %}{% endif %}
            {% if enclosure_list.all.0.player %}{% for enclosure in enclosure_list %}<video:player_loc allow_embed="{% if enclosure_list.all.0.embed %}Yes{% else %}No{% endif %}">{{ enclosure_list.all.0.player }}</video:player_loc>{% endif %}{% endfor %}
            {% if episode.image %}<video:thumbnail_loc>{{ episode.image.url }}</video:thumbnail_loc>{% endif %}
            <video:title>{{ episode.title }}</video:title>
            <video:description>{% if episode.summary %}{{ episode.summary|striptags }}{% else %}{{ episode.description|striptags }}{% endif %}</video:description>
            <video:family_friendly>{% ifequal episode.explicit "Yes" %}no{% endifequal %}{% ifequal episode.explicit "No" %}yes{% endifequal %}{% ifequal episode.explicit "clean" %}yes{% endifequal %}</video:family_friendly>
            <video:duration>{{ episode.seconds_total }}</video:duration>
        </video:video>
    </url>
{% endfor %}{% endfor %}
</urlset>
