<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
{% regroup object_list by show as show_list %}
{% for show in show_list %}
<channel>
    <title>{{ show.grouper.title }}</title>
    <link>{{ show.grouper.link }}</link>
    <description>{{ show.grouper.description|striptags }}</description>
    {% if show.grouper.language %}<language>{{ show.grouper.language }}</language>{% endif %}
    <copyright>&#x2117; &amp; &#xA9; {% now "Y" %} {{ show.grouper.organization }} {{ show.grouper.copyright }}</copyright>
    {% if show.grouper.author.email %}<managingEditor>{{ show.grouper.author.email }}</managingEditor>{% endif %}
    {% if show.grouper.author.email or show.grouper.webmaster.email %}<webMaster>{% if show.grouper.webmaster.email %}{{ show.grouper.webmaster.email }}{% else %}{{ show.grouper.author.email }}{% endif %}</webMaster>{% endif %}
    <lastBuildDate>{{ show.list.0.date|date:"r" }}</lastBuildDate>
    {% for category in show.grouper.category.all %}<category>{{ category.name }}</category>{% endfor %}
    <generator>Django Web Framework</generator>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    {% if show.grouper.ttl %}<ttl>{{ show.grouper.ttl }}</ttl>{% endif %}
    {% if show.grouper.image %}
    <image>
      <url>{{ show.grouper.image.url }}</url>
      <title>{{ show.grouper.title }}</title>
      <link>{{ show.grouper.link }}</link>
    </image>
    {% endif %}
    <itunes:author>{{ show.grouper.organization }}</itunes:author>
    <itunes:owner>
        <itunes:name>
        {% for show.grouper.author in show.grouper.author_set.all %}
        
        {% if show.grouper.author.first_name or show.grouper.author.last_name %}{% if show.grouper.author.first_name and show.grouper.author.last_name %}{{ show.grouper.author.first_name }} {{ show.grouper.author.last_name }}{% endif %}{% if show.grouper.author.first_name and not show.grouper.author.last_name %}{{ show.grouper.author.first_name }}{% endif %}{% if show.grouper.author.last_name and not show.grouper.author.first_name %}{{ show.grouper.author.last_name }}{% endif %}{% else %}{{ show.grouper.author.username }}{% endif %}, 
        
        {% endfor %}
        </itunes:name>
        <itunes:email>{% if show.grouper.author.email %}{{ show.grouper.author.email }}{% endif %}</itunes:email>
    </itunes:owner>
    {% if show.grouper.subtitle %}<itunes:subtitle>{{ show.grouper.subtitle }}</itunes:subtitle>{% endif %}
    <itunes:summary>{% if show.grouper.summary %}{{ show.grouper.summary|striptags }}{% else %}{{ show.grouper.description|striptags }}{% endif %}</itunes:summary>
    {% if show.grouper.image.url %}<itunes:image href="{{ show.grouper.image.url }}" />{% endif %}
    {% if show.grouper.category %}{% for category in show.grouper.category.all %}<itunes:category text="{{ category.name }}"></itunes:category>{% endfor %}{% endif %}
    {% if show.grouper.explicit %}<itunes:explicit>{{ show.grouper.explicit|lower }}</itunes:explicit>{% endif %}
    {% if show.grouper.block %}<itunes:block>{{ show.grouper.block }}</itunes:block>{% endif %}
    {% if show.grouper.redirect %}<itunes:new-feed-url>{{ show.grouper.redirect }}</itunes:new-feed-url>{% endif %}

    {% for episode in show.list %}
    <item>
        <title>{{ episode.title }}</title>
        <link>{{ episode.file.url }}</link>
        <description>{{ episode.description|striptags }}</description>
        {% if show.grouper.author.email %}<author>{{ show.grouper.author.email }}</author>{% endif %}
        <category>{{ episode.category }}</category>            
        <enclosure url="{{ episode.file.url }}" length="{{ episode.file.size }}" type="{{ episode.mime }}" />
        <guid isPermalink="true">{{ episode.file.url }}</guid>
        <pubDate>{{ episode.date|date:"r" }} GMT</pubDate>
        <source url="{% url show_list_feed %}">{{ episode.title }}</source>
        <itunes:author>{% if episode.author.first_name or episode.author.last_name %}{% if episode.author.first_name and episode.author.last_name %}{{ episode.author.first_name }} {{ episode.author.last_name }}{% endif %}{% if episode.author.first_name and not episode.author.last_name %}{{ episode.author.first_name }}{% endif %}{% if episode.author.last_name and not episode.author.first_name %}{{ episode.author.last_name }}{% endif %}{% else %}{{ episode.author.username }}{% endif %}</itunes:author>
        <itunes:subtitle>{{ episode.subtitle }}</itunes:subtitle>
        <itunes:summary>{% if episode.summary %}{{ episode.summary|striptags }}{% else %}{{ episode.description|striptags }}{% endif %}</itunes:summary>
        <itunes:duration>{{ episode.minutes }}:{{ episode.seconds }}</itunes:duration>
        <itunes:keywords>{{ episode.keywords }}</itunes:keywords>
        <itunes:explicit>{{ episode.explicit|lower }}</itunes:explicit>
        {% if episode.block %}<itunes:block>{{ episode.block }}</itunes:block>{% endif %}
    </item>
    {% endfor %}
</channel>
{% endfor %}
</rss>